---
http_interactions:
- request:
    method: get
    uri: https://api.followupboss.com/v1/users?name=John%20Agent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Source:
      - zoocasa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Window:
      - '10'
      X-Ratelimit-Limit:
      - '750'
      X-Ratelimit-Remaining:
      - '749'
      X-Ratelimit-Context:
      - global
      Etag:
      - c90999a5ea1511a87c78c9ec35533c78
    body:
      encoding: UTF-8
      string: '{"_metadata":{"collection":"users","offset":0,"limit":10,"total":1,"next":null,"nextLink":null},"users":[{"id":61,"created":"2020-12-24T03:55:24Z","updated":"2021-06-07T19:03:01Z","name":"John
        Agent","firstName":"John","lastName":"Agent","email":"john.agent@example.com","phone":"(647)
        333-7777","role":"Agent","status":"Active","timezone":"America\/Toronto","beta":true,"picture":[],"isOwner":false,"groups":[],"teamIds":[5,8,10,13,1],"teamLeaderOf":[10],"leadEmailAddress":"info.52@followupboss.me"}]}'
  recorded_at: Mon, 07 Jun 2021 20:07:21 GMT
recorded_with: VCR 6.0.0
